<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hci1025f19.diabetesinformationapplication">
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, allowBackup">
        <activity
            android:name="hci1025f19.diabetesinformationapplication.OldCalculations.OldCalculationsActivity"
            android:label="@string/title_activity_old_calculations"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="hci1025f19.diabetesinformationapplication.MealPlan.AddNewFoodActivity"
            android:label="DIAbetes - Tilføj ny madvarer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="DATABASE"
            android:value="hci923e18.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="hci923e18.database" />

        <activity
            android:name="hci1025f19.diabetesinformationapplication.Tabs.FrontPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.SettingsActivity"
            android:label="DIAbetes - Profilside"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.BloodGlycoseOverview.BloodGlycoseOverviewActivity"
            android:label="DIAbetes - Blodsukkeroversigt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.newBloodGlucoseLevelActivity"
            android:label="DIAbetes - Ny blodsukkerindtastning"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.BloodGlycoseOverview.GraphActivity"
            android:label="DIAbetes - Blodsukkeroversigt graf"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.BloodGlucoseListActivity"
            android:label="DIAbetes - Gamle blodsukkermålinger"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hci1025f19.diabetesinformationapplication.ParentalControlActivity"
            android:label="DIAbetes - Forældrekontrol"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.GeneratePDF"
            android:label="DIAbetes - Exporter data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.LongtermMeasurements.LongtermMeasurement"
            android:label="DIAbetes - Langtidsblodsukker"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.UCI.UCI"
            android:label="Hvad gik galt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="hci1025f19.utility.Time.TimeService" />

        <receiver
            android:name="hci1025f19.utility.Time.TimeReciever"
            android:exported="true" />

        <activity
            android:name="hci1025f19.diabetesinformationapplication.UCI.UCIAdvanced"
            android:label="Fortæl om din dag med appen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.OnBoarding"
            android:label="Velkommen til DIAbetes!" />
        <activity
            android:name="hci1025f19.diabetesinformationapplication.UCI.UCIAdvancedGoodBad"
            android:label="Fortæl om din dag med appen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>